.state-details-container {
    position: relative;
    min-width: 400px;
    margin: 20px;
    background-color: #fefefe;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px 4px rgb(0 0 0 /3%);
    cursor: pointer;
}

.state-details-container:hover {
    box-shadow: 0 0 10px 4px rgb(0 0 0 /5%);
    transition: all 0.2s ease-in-out;
    border-left: 10px solid #4e67eb;
}

.state-container {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.next {
    position: absolute;
    top: 50%;
    right: 20px;
}

.prevBtn,
.nextBtn {
    background-color: #0e0e0e;
    color: whitesmoke;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
}

.footer-section {
    margin: 20px;
}